name: Build and Test (.NET 5)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET 5
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '5.0.x'

    - name: Restore dependencies
      run: dotnet restore ./TarjetaSube/TarjetaSube.csproj

    - name: Build
      run: dotnet build ./TarjetaSube/TarjetaSube.csproj --no-restore

    - name: Run tests with coverage
      run: dotnet test ./TarjetaSubeTest/TarjetaSubeTest.csproj --collect:"XPlat Code Coverage" --results-directory ./TestResults

    - name: Upload test results (opcional)
      uses: actions/upload-artifact@v3
      with:
        name: coverage-report
        path: ./TestResults
